/MvcPaging/bin
/MvcPaging/obj
/Entity/bin
/Entity/obj
/BusinessLogic/obj
/BusinessLogic/bin
/Common/Common.csproj.user
/Common/bin
/Common/obj
/DataAccess/DataAccess.csproj.user
/DataAccess/bin
/DataAccess/obj
/WebPurchase/obj
/WebPurchase/bin
/WebPurchase/WebPurchase.csproj.user
/WebSetting/WebSetting.csproj.user
/WebSetting/bin
/WebSetting/obj
