@using Common.Utilities;
@using Common.Resources;
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HeaderScript
{
    
}

@section MainMenu
{
    @Html.Action("MainMenu", "MenuNavigator")
}


<h2>@Resources.Lbl_MainMenu</h2>

<div id="dvForm" class="form-box">
    <h5 class="form-title">Sample Title</h5>

    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            
            <ul class="title">
                <li onclick="onSelect('1','Y','ข้อมูลพื้นฐาน','#16a0a2')" style="background-color:#16a0a2;">
                    <a href="#">
                        <span>
                            <img src="https://backend.tescolotuslc.com/learningcenter/storage/functions/2017/03/08/16/85b2/20170308-160946.lps.png"
                                    height="60" width="60" />
                        </span>
                        <span class="text-center" style="font-size:12px;padding-top:25px;vertical-align:middle;">ระบบข้อมูลพื้นฐาน</span>
                    </a>
                </li>
                <li onclick="onSelect('1','Y','ข้อมูลพื้นฐาน','#16a0a2')" style="background-color:#16a0a2;">
                    <a href="#">
                        <span>
                            <img src="https://backend.tescolotuslc.com/learningcenter/storage/functions/2017/03/08/16/85b2/20170308-160946.lps.png"
                                    height="60" width="60" />
                        </span>
                        <span class="text-center" style="font-size:12px;padding-top:25px;vertical-align:middle;">ระบบข้อมูลพื้นฐาน</span>
                    </a>
                </li>
                <li onclick="onSelect('1','Y','ข้อมูลพื้นฐาน','#16a0a2')" style="background-color:#16a0a2;">
                    <a href="#">
                        <span>
                            <img src="https://backend.tescolotuslc.com/learningcenter/storage/functions/2017/03/08/16/85b2/20170308-160946.lps.png"
                                    height="60" width="60" />
                        </span>
                        <span class="text-center" style="font-size:12px;padding-top:25px;vertical-align:middle;">ระบบข้อมูลพื้นฐาน</span>
                    </a>
                </li>
                <li onclick="onSelect('1','Y','ข้อมูลพื้นฐาน','#16a0a2')" style="background-color:#16a0a2;">
                    <a href="#">
                        <span>
                            <img src="https://backend.tescolotuslc.com/learningcenter/storage/functions/2017/03/08/16/85b2/20170308-160946.lps.png"
                                    height="60" width="60" />
                        </span>
                        <span class="text-center" style="font-size:12px;padding-top:25px;vertical-align:middle;">ระบบข้อมูลพื้นฐาน</span>
                    </a>
                </li>
                <li onclick="onSelect('1','Y','ข้อมูลพื้นฐาน','#16a0a2')" style="background-color:#16a0a2;">
                    <a href="#">
                        <span>
                            <img src="https://backend.tescolotuslc.com/learningcenter/storage/functions/2017/03/08/16/85b2/20170308-160946.lps.png"
                                    height="60" width="60" />
                        </span>
                        <span class="text-center" style="font-size:12px;padding-top:25px;vertical-align:middle;">ระบบข้อมูลพื้นฐาน</span>
                    </a>
                </li>
                <li onclick="onSelect('1','Y','ข้อมูลพื้นฐาน','#16a0a2')" style="background-color:#16a0a2;">
                    <a href="#">
                        <span>
                            <img src="https://backend.tescolotuslc.com/learningcenter/storage/functions/2017/03/08/16/85b2/20170308-160946.lps.png"
                                    height="60" width="60" />
                        </span>
                        <span class="text-center" style="font-size:12px;padding-top:25px;vertical-align:middle;">ระบบข้อมูลพื้นฐาน</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-lg-1"></div>
    </div>


</div>

<script>
    function onSelect(id, isActive, name, color) {
        if (isActive != "N") {

            //var url = "frmSelectDepartment.aspx?user_function_id=" + id + '&title=' + name + '&color=' + color;
            var url = "https://www.google.com";
            //alert(url);
            //CreateTransLog('<%=UserData.LoginHistoryID %>', 'เลือก Function ' + name);
            window.location = url;

            return false;
        } else {
            return false;
        }
    }
</script>