@using Common.Resources;
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HeaderScript
{
    
}

@section MainMenu
{
    @Html.Action("MainMenu", "MenuNavigator")
}
@section Breadcrumb
{
    <strong class="font-blue">@Resources.Title_MainMenu</strong>
}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <ul class="tiles">
            <li class="blue">
                <a href="#">
                    <span><img src="https://backend.tescolotuslc.com/learningcenter/storage/functions/2017/03/08/16/85b2/20170308-160946.lps.png" height="60" width="60" /> </span>
                    <span class='name'>Phone</span>
                </a>
            </li>
            <li class="red">
                <a href="#"><span class='count'><i class="icon-envelope"></i> 1</span><span class='name'>Mails</span></a>
            </li>
            <li class="lime">
                <a href="#"><span class='count'><i class="icon-comment"></i> 4</span><span class='name'>Comments</span></a>
            </li>
            <li class="blue">
                <a href="#"><span><i class="icon-cogs"></i></span><span class='name'>Settings</span></a>
            </li>
        </ul>
    </div>
    <div class="col-md-4"></div>
</div>

